*{
    padding:0;
    margin:0;
}
body{
    background-image: linear-gradient(to right, #f29030, #ffc062 20%, #ffc062 80%, #f29030);
}
.game {
    margin: 0 auto;
    width: 7.2rem;
    min-height: 11rem;
    background: url(../img/bg.png) center top no-repeat;
    background-size: 7.2rem auto;
    box-sizing: border-box;
    overflow: hidden; }
.game .wheel-box {
    width: 6.72rem;
    height: 6.72rem;
    margin: 4rem auto 0;
    position: relative; }
.game .wheel-box #wheel {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    top: 0;
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    background: url(../img/pan.png) center center no-repeat;
    background-size: 6.72rem 6.72rem; }
.game .wheel-box #arrow {
    width: 1.78rem;
    height: 2.07rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    background: url(../img/zhen.png) center center no-repeat;
    background-size: 1.78rem 2.07rem; }
.game .luckDrawCount {
    text-align: center;
    color: #ffffff;
    font-size: 0.3rem;
    font-weight: 600;
    margin: 0.7rem auto;
    z-index: 99; }
.game .luckDrawCount span {
    color: #ffffff; }
.game .fixed-btn {
    width: 1.4rem;
    position: fixed;
    top: 0;
    right:0;
}
.game .fixed-btn img {
    float: right;
    margin-top: .1rem;
    width: 1.4rem;
}
/* 公用弹框 */
.popMask{
    position: fixed;
    top:0;
    width:100%;
    height:100%;
    background:rgba(34,34,35,0.7);
    z-index:100;
}
.popUp{
    position:fixed;
    width:100%;
    min-height:100px;
    left:50%;
    top:50%;
    margin-left:300px;
    margin-top:-300px;
    z-index: 101;
    border-radius:5px;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.popUp_c{
    width:96%;
    margin-left:2%;
    height:100%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    position:relative;
}
.popUp h2{
    height:0;
    border-radius:5px 5px 0 0;
}
/*抽奖结果上传失败弹框*/
.notice_pop {
    text-align: center;
    font-size: 0.3rem;
    line-height: 1rem;
    padding: 0.2rem;
    border-bottom: 1px solid #efefef;
}
#submitBtn {
    font-size: 0.4rem;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
}
/*2019-01-29*/
section.btn{
    width:20%;
    text-align: center;
    position:absolute;
    top:22.44444rem;
    left:40%
}
.pushBtn {
    width: 3rem;
    height: 2rem;
    background: transparent;
    font-family: 'Microsoft Yahei';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #2f2f2f;
    border: none;
    outline:none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}
.pushBtn::after {
    border-radius: 5px;
    /*background: url(../images/pushBtn.png) no-repeat;
    background-size: 2rem auto;*/
    animation: rotate .8s linear infinite;
    content: '';
    position: absolute;
    left: 25%;
    top: 0;
    width: 2rem;
    height: 2rem;
}

@keyframes rotate {
    0% {
        transform: translateY(0) ;
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(20px) scale(1.1, 0.9);

    }
    75% {
        ransform: translateY(10px) ;
    }
    100% {
        transform: translateY(0) ;
    }
}
#cnzz_stat_icon_1273327993 img{
    width:0;
}
a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

