<html>
	<head>
		<title>冠状问卷</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="hot article">
	</head>
<!-- 引入样式文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.4/lib/index.css">
<style type="text/css">
#app{
	padding: 4vw;;
}
	.home{
		display: flex;
		flex-direction: column;
		padding: 4vw;
		height: 92vh;
		justify-content: center;
	}
	.van-radio{
		margin-bottom: 2vw;
		margin-right: 10vw;
	}
	.van-button{
		margin: 3vh 0;
	}
</style>
	<body>
		<!-- <van-nav-bar title="标题" /> -->
		<div id="app" >
			<section v-if="sectionActive === 1">
				<h3 style="text-align:center;margin-top:4vw;font-size: 5vw;">冠状问卷</h3>
				<div class="home">
					<van-button type="info" @click="sectionActive=2">感染风险测试</van-button>
					<van-button type="info" @click="viewDetail('隔离方法')">隔离方法</van-button>
					<van-button type="info" @click="viewDetail('就诊准备')">就诊准备</van-button>
				</div>
			</section>
			
			<section v-if="sectionActive === 2">
				<div v-for="(item,index) in questions" v-if="item.isDisplay">
					<p v-html="item.index+'、'+item.title" style="line-height: 3.5vh;"></p>
					<van-radio-group v-model="item.value" @change="showQuestion" style="display: flex;justify-content: space-start;padding-left: 4vw;">
					  <van-radio :name="option" v-for="option in item.options">{{option}}</van-radio>
					</van-radio-group>
				</div>
				<van-button type="info" @click="submit" style="width:90vw;">提交</van-button>
			</section>
			
			<section v-if="sectionActive === 3">
				<div v-if="viewType === 'result'" style="text-align:center">
					<h3>{{howto.results.conclusion}}</h3>
					<p>{{howto.results.description}}</p>
				</div>
				<div>
					<h3>{{howto.results.title}}</h3>
					<p v-html="howto.results.content"></p>
				</div>
			</section>

		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
	<!-- 引入组件库 -->
	<script src="https://cdn.jsdelivr.net/npm/vant@2.4/lib/vant.min.js"></script>
	<script type="text/javascript">
		const questions = [
			{
				title:"您是否近半个月在武汉逗留过或与曾经在武汉逗留者见面/聚会/交流？",
				options:["是","否"],
				varName:"武汉接触史",
				display: "1==1" 
			},
			{
				title:"您是否近半个月接触过患有发烧或肺炎或病毒性感冒患者？",
				options:["是","否"],
				varName:"可疑人员接触史",
				display: "1==1" 
			},
			{
				title:"您是否属于以下人群？<br/>a.小于5岁<br/>b.大于60岁<br/>c.孕妇<br/>d.患有以下一种疾病，癌症、免疫功能障碍疾病、高血压糖尿病、血液病、肝炎或胰腺炎、呼吸系统疾病(如哮喘、慢阻肺、支气管炎等)、心血管疾病(如冠心病等)",
				options:["是","否"],
				varName:"易感人群",
				display: "1==1" 
			},
			{
				title:"您是否正在发热且超过37.3度？",
				options:["是","否"],
				varName:"发热",
				display: "1==1" 
			},
			{
				title:"您近一周内“曾”出现以下哪些症状？<br/>a.连续两天及以上的恶心或腹泻<br/>b.眼结膜发炎<br/>c.连续两天及以上的咳嗽或咽痛<br/>d.连续两天及以上感到眩晕头痛或肌肉酸痛",
				options:["是","否"],
				varName:"可疑症状",
				display: "1==1" 
			},
			{
				title:"您是否已经出现呼吸困难、气促等明显影响呼吸功能或正常生活的症状？",
				options:["是","否"],
				varName:"医院诊断必要性",
				display: "((this.questions.武汉接触史.value == '是')||(this.questions.可疑人员接触史.value == '是'))&&((this.questions.发热.value == '是')||(this.questions.可疑症状.value == '是'))" 
			}
		];
		const howto = [
			{
				display : "((this.questions.武汉接触史.value =='否')&&(this.questions.可疑人员接触史.value =='否')&&(this.questions.发热.value =='否') && (this.questions.可疑症状.value== '否'))",
				results : {
					conclusion:"感染可能性较低",
					description:"目前感染较低，请保持警惕",
					title:"行为准则",
					content:"1、外出活动戴好口罩(一般医用外科口罩预防效果已能达到要求，无需N95)<br/>2、不参加集中聚会等活动<br/>3、勤洗手以保证个人卫生(需要使用肥皂或洗手液)"
				}
			},
			{
				display : "((this.questions.武汉接触史.value == '是')||(this.questions.可疑人员接触史.value== '是') ||(this.questions.发热.value== '是') || (this.questions.可疑症状.value== '是'))",
				results : {
					conclusion:"感染可能性一般",
					description:"需要进行为期14天的自我隔离观察，切勿直接就诊，以防交叉感染。",
					title:"隔离步骤",
					content:"虽然您存在感染病毒风险或已出现轻微病情，但一定不要慌张，保证我们自身免疫系统功能正常情况下，进行合理和隔离及自我抗病毒治疗是可疑达到自愈的效果，目前已经有数位患者(也包括非专业医务人员)出现轻微症状后自行康复，因此我们一定要冷静理性地看待流感。<br/><br/><b>1、必备用品准备：</b><br/>a.体温计<br/>b.奥司维他<br/>c.阿莫西林<br/>d.布洛芬口服液。<br/><br/><b>2、选备用品准备：</b><br/>a.如有咳嗽咽痛，准备蜂蜜、薄荷糖或川贝枇杷膏；<br/>b.如有腹泻，准备香蕉、粗粮(玉米)；<br/><br/><b>3、日常行为：</b><br/>a.不与家人面对面交流，且交流时带口罩，并保持2m以上距离；<br/>b.不外出；<br/>c.不随地吐痰；<br/>d.打喷嚏时用肘部遮挡，以防唾液飞溅<br/><br/><b>4、起居行为：</b><br/>a.寻找独立的隔离环境(单间)，与家人隔离至少2周；<br/>b.保证10小时及以上的充足睡眠，确保充分休息。<br/><br/><b>5、饮食行为：</b><br/>a.不吃油腻、油炸、烧烤等食物，以牛奶、鸡蛋、瘦肉、鱼肉、丰富多样的蔬菜及水果为主，并且保证主食摄入量。<br/>b.每日饮水量一定要加大，尽可能保证平均每小时有150毫升(约3个鸡蛋的体积)左右的饮水<br/><br/><b>6、病情监控</b><br/>a.每天早中晚测量三次体温监测体温变化；<br/><br/><b>7、用药</b><br/>a.每日口服奥司维他和阿莫西林两种药物，服用方法详见说明书<br/>b.如有发热超过38度时：布洛芬口服液使体温控制在38度以内，但无需达到正常体温，过低的体温反而不利于抗病毒。<br/>c.如有咳嗽咽痛：可用蜂蜜、薄荷糖、川贝枇杷膏缓解，热鸡汤也有一定缓解作用。<br/>d.如有腹泻症状：可增加食用香蕉、粗粮等缓解腹泻的食物，并注意补充水分，若腹泻引起虚脱则需及时去医院就诊。"
				}
			},
			{
				display : "(this.questions.医院诊断必要性.value == '是') || (((this.questions.武汉接触史== '是') || (this.questions.可疑人员接触史.value == '是')) && ((this.questions.发热.value== '是') || (this.questions.可疑症状.value== '是')) && this.questions.易感人群.value== '是')",
				results : {
					conclusion:"感染可能性较高",
					description:"请尽快就诊，以便得到及时治疗",
					title:"就诊准备",
					content:"a.回忆近半个月内您与武汉背景人员接触频率及具体场景，以便医务人员判断可疑感染人员范围。<br/>b.回忆自己出现发热或其他相关症状的时间<br/>c.回忆您出现相关症状后都与哪些人进行了密切接触(如当面说话、一同生活)？<br/>d.如有近期血象检查单或肺部X光片请一并带好去医院确诊。"
				}
			}
		];
		var app = new Vue({
		  el: '#app',
		  data: {
		  	sectionActive:1,
			viewType: '',
		    questions: {},
		    howto:{}
		  },
		  created(){
		  	this.questions = {};
		  	questions.forEach((item,index) => {
		  		this.$set(this.questions,item.varName,{
		  			index:index+1,
			    	title:item.title,
					options:item.options,
					varName:item.varName,
					display: item.display,
					isDisplay: eval(item.display),
					value:''
		  		})
		  	})
		  },
		  methods: {
		  	showQuestion(){
		 		Object.keys(this.questions).forEach((item,index) => {
		 			this.$set(this.questions,this.questions[item].varName,{
		 				index:this.questions[item].index,
		 				title:this.questions[item].title,
		 				options:this.questions[item].options,
		 				varName:this.questions[item].varName,
		 				isDisplay: eval(this.questions[item].display),					
						display: this.questions[item].display,
		 				value:this.questions[item].value
		 			})
		 		})	
		  	},
			viewDetail(type){
				this.sectionActive = 3;
				this.viewType = 'view';

				if(type === '隔离方法'){
					this.howto = howto[1 ];
				}
				if(type === '就诊准备'){
					this.howto = howto[2];
				}
			},
		    submit: function () {
				howto.forEach(item => {
					if(eval(item.display)){
						this.sectionActive = 3;
						this.viewType = 'result';
						this.howto = item;
					}
				})
		    }
		  }
		})
	</script>
</html>
